@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark {
  &:where([data-theme="dark"] *) {
    @slot;
  }
  &:where([data-theme="device"] *) {
    @media (prefers-color-scheme: dark) {
      @slot;
    }
  }
}

.expressive-code {
  width: 100%;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

figure {
    margin: 0;
}

figcaption {
    text-align: center;
    margin-top: 0.5rem;
}

.prompt-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
}

.prompt-box {
    background-color: #f3f4f6;
    padding: 1rem;
    border-radius: 0.5rem;
}

.prompt-box p {
    margin-top: 0.5rem;
    word-break: break-all;
}