---
import Layout from '../layouts/Layout.astro'

const base = import.meta.env.BASE_URL.replace(/\/$/, '')

const authors = [
	{ name: 'Kang Minkyu', href: 'https://mk040412.github.io/' },
	{ name: 'Chae Jeongwoo' },
	{ name: 'Kim Jinho' },
]

const links = [
	{ label: 'Project page', href: 'https://mk040412.github.io/Ouroboros-Reinforcement-Guided-Flow-Matching/' },
	{ label: 'Code', href: 'https://github.com/MK040412/Ouroboros-Reinforcement-Guided-Flow-Matching' },
	{ label: 'Author', href: 'https://mk040412.github.io/' },
]
---

<Layout
	title='Ouroboros: Reinforcement-Guided Flow Matching'
	pageTitle='Ouroboros'
	description='A reinforcement-guided flow matching framework that unifies critic optimization and generative diffusion in latent space for improved text-to-image alignment.'
	authors={authors}
	links={links}
	hero={`${base}/Ouroboros.webp`}
	heroAlt='Ouroboros'
	faviconHref={`${base}/Ouroboros.webp`}
>
	<h1>Overview</h1>
	<ul>
		<li>
			<b>Ouroboros</b> is a reinforcement-guided flow matching framework that unifies critic
			optimization and generative diffusion in latent space.
		</li>
		<li>
			It targets robust text-to-image alignment over long-horizon, sparse-reward denoising
			trajectories.
		</li>
	</ul>

	<h1>Method</h1>
	<p class='muted'>Coming soon.</p>

	<h1>Results</h1>
	<p class='muted'>Coming soon.</p>

	<hr />
	<h1>Citation</h1>
	<pre class='codebox'><code>@misc{`{kang2026ouroboros,
  title={Ouroboros: Reinforcement-Guided Flow Matching},
  author={Kang, Minkyu and Chae, Jeongwoo and Kim, Jinho},
  year={2026},
  howpublished={\\url{https://mk040412.github.io/Ouroboros-Reinforcement-Guided-Flow-Matching/}}
}`}</code></pre>

	<h1>Acknowledgement</h1>
	<p>
		Maintained by <a href='https://mk040412.github.io/'>Kang Minkyu</a>. Part of the work surfaced
		on <a href='https://mk040412.github.io/'>the author's homepage</a>.
	</p>
</Layout>
